.square{

  height:200px;
width:200px;
font-size:150px;
text-align: center;
border-width: 2px;
border-style: solid;



}

table{

    margin-top: 160px;
    margin-left: 575px;


}

.result{

font-size:50px;
text-align: center;

}